#tabla 

{
  font-family: font-family: 'Open Sans', sans-serif;
  padding-top: 0rem;
  padding-bottom: 10rem;
}


#fasedegrupos

{
  font-family: font-family: 'Open Sans', sans-serif;
  padding-top: 0rem;
  padding-bottom: 10rem;
  top: 50%;
  left: 50%;

}